.ticket-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ticket-form {
    padding: 25px 50px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    flex: 1;
}

.form-column label {
    font-size: 1rem;
    font-weight: 500;
    color: #757575;
}


label.required::after {
    content: '*';
    color: #FF5733;
    margin-left: 4px;
}

label.required {
    color: #FF5733;
}


.form-column select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-column input[type="file"] {
    display: none;
}

.upload-container {
    position: relative;
    overflow: hidden;
}

.upload-container label {
    color: #fff;
}

.upload-button {
    background-color: #00796B;
    color: #fff;
    cursor: pointer;
    padding: 8px;
    box-sizing: border-box;
    display: inline-block;
    width: 80px;
    text-align: center;
    border-radius: 5px;
}

.button-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.button-container button {
    width: 100px;
    padding: 10px 5px;
    font-size: .9rem;
    font-weight: 400;
}

.form-row input {
    padding: 8px;
    min-width: 250px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ticket-form h2 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    color: #00796B;
}

.form-row textarea {
    resize: none;
    height: 150px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
}