.ticket-blocks-col {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
    height: calc(100vh - 180px);
    overflow-y: auto;
}

.header-row:nth-child(1) {
    justify-content: flex-start;
    padding: 0;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 1rem;
}

.header-row-btn {
    display: flex;
    gap: 2px;
}

.ticket-count {
    font-size: 14px;
    font-weight: 600;
    padding: 0 1rem 0 0;
}

.sml-action-btn {
    width: auto;
    border: none;
    padding: 2px 15px;
    border-radius: 5px;
    background-color: #1ea7fd;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.sml-action-btn:hover {
    background-color: #ebebeb;
    color: #333;
}

.ticket-filter-label {
    font-size: 18px;
    font-weight: 600;
    padding: 0 1rem;
}

.icon {
    width: 15px;
    height: 15px;
    fill: #757575;
    cursor: pointer;
}

.icon-container {
    position: relative;
}

.icon-container .dropdown-menu {
    position: absolute;
    top: 25px;
    right: 0;
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.icon-container .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #333;
}

.icon-container .dropdown-menu ul li {
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
}

.icon-container .dropdown-menu ul li:hover {
    color: #fff;
    background-color: #333;
}

.loader-ctr {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}