.ticket-blocks-col {
    display: flex;
    flex-direction: column;
    /*gap: 5px;*/
    padding: 0;
    flex: 1;
    overflow: auto;
    border: 1px solid #e0e0e0;
}

.header-row:nth-child(1) {
    padding-bottom: 5px;
}

.header-row {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.ticket-filter-ctr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    padding: 10px 0;
}

.header-row-btn {
    display: flex;
    gap: 2px;
}

.btn-row {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 5px;
}

.ticket-count {
    font-size: 14px;
    font-weight: 600;
    padding-left: 50px;
}

.sml-action-btn {
    width: auto;
    border: none;
    padding: 4px 15px;
    border-radius: 5px;
    background-color: #1ea7fd;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.sml-action-btn:hover {
    background-color: #0184da;
}

.ticket-filter-label {
    font-size: 18px;
    font-weight: 600;
    padding: 0 1rem 0 0;
}

.icon {
    width: 15px;
    height: 15px;
    fill: #757575;
    cursor: pointer;
}

.icon-container {
    position: relative;
}

.icon-container .dropdown-menu {
    position: absolute;
    top: 25px;
    right: 0;
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.icon-container .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #333;
}

.icon-container .dropdown-menu ul li {
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
}

.icon-container .dropdown-menu ul li:hover {
    color: #fff;
    background-color: #333;
}

.loader-ctr {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.loader-txt {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;

}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.img-ctr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.img-ctr img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tbl-banner {
    display: flex;
    align-items: center;
    background-color: #0099ff;
    padding: 8px 20px;
    gap: 4rem;
}

.tbl-banner > div:first-child {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 1rem;
}

.tbl-banner .tbl-banner-ribbon{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tbl-banner .tbl-banner-ribbon  > div {
    display: flex;
    align-items: center;
    flex: 1;
}

.tbl-banner-title {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}

/*.tbl-banner-ribbon > div:last-child p {*/
/*    font-size: .8rem;*/
/*    font-weight: 600;*/
/*    color: #fff;*/
/*}*/

.bubble-txt {
    font-size: .8rem;
    font-weight: 600;
    color: #fff;

}

.tbl-banner-bubble {
    display: flex;
    flex: 1;
    gap: 12px;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    padding: 8px 14px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.tbl-banner-bubble:hover {
    background-color: rgba(0,0,0,0.4);

}

.tbl-banner-ribbon img {
    width: 1.1rem;
    height: 1.1rem;
}

.tbl {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

.tbl tr.table-header {
    text-align: left;
    position: sticky;
    top: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    white-space: nowrap;
}

.tbl th {
    background-color: #f3f4f6;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    padding: 12px 15px;
}

.tbl td {
    padding: 8px 15px;
}

.tbl td {
    border-bottom: 1px solid #e0e0e0;
}

.tbl tbody tr {
    background-color: #fff;
}

.tbl tbody tr {
    cursor: pointer;
}

.tbl tbody tr:hover {
    background-color: rgba(30, 167, 253, 0.2);
}

.tbl-banner-ribbon > div {
    position: relative;
}
.tbl-banner-ribbon-bubble-clickable {
    background-color: #212121;
    color: #fff;
    padding: 12px 14px;
    position: absolute;
    z-index: 999;
    cursor: default;
    top: 35px;
    right: 0;
}

.tbl-banner-ribbon-bubble-clickable-title {
    color: #0077ff;
}

.tbl-banner-ribbon-bubble-clickable input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #c2c2c2;
    color: #fff;
    padding: 6px 10px;
    font-size: 0.9rem;
    transition: border-bottom 0.3s ease-in-out;
}

.tbl-banner-ribbon-bubble-clickable input:focus {
    outline: none;
    border-bottom: 2px solid #0077ff;
}

.tbl-banner-ribbon-bubble-clickable-chk-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px 0;
    max-height: 250px;
    overflow: auto;
}


.tbl-banner-ribbon-bubble-clickable-chk-group > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tbl-banner-ribbon-bubble-clickable-chk-group > div input {
    width: 22px;
    height: 22px;
}

.tbl-banner-ribbon-bubble-clickable-chk-group > div label {
    color: #fff;
    font-size: 1rem;
}

.export-ctr {
    background-color: #212121;
    position: absolute;
    z-index: 999;
    top: 35px;
    right: 0;
    white-space: nowrap;
    cursor: pointer;
}

.export-ctr .export-txt {
    font-size: .9rem;
    font-weight: 500;
    color: #fff;
    padding: 8px 15px;
    transition: background-color 0.3s ease-in-out;
}

.export-ctr .export-txt:hover {
    background-color: #4b4b4b;
}