.chat-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00796B;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.chat-bubble:hover {
    background-color: #00695C;
}

.chat-bot-ctr {
    position: fixed;
    bottom: 80px;
    right: 90px;
    width: 350px;
    height: 460px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-bot-header {
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    background-color: #00796B;
    padding: 5px 10px;
}

.chat-bot-header p {
    color: #fff;
    font-size: 1rem;
}

.chat-bot-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    gap: 8px;
    overflow-y: auto;
}

.chat-footer {
    background-color: #fafafa;
    padding: 5px 10px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    border-radius: 0 0 0 5px;
}

.chat-footer input {
    flex-grow: 1;
    padding: 10px;
}

.chat-footer button {
    border: none;
    padding: 5px 10px;
    background-color: #00695C;
    color: #fff;
    width: auto;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.chat-footer button:hover {
    background-color: #005a4f;

}

.horizontal-line {
    color: rgba(0, 0, 0, 0.2);
}

.chat-message {
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D9E3;
    color: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.user-message {
    padding: 10px;
    border-radius: 5px;
    background-color: #84c290;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.chat-bot-ctr-ops {
    display: flex;
    gap: 10px;
}

.chat-bot-ctr-ops button {
    border: none;
    padding: 5px 10px;
    background-color: #00695C;
    color: #fff;
    width: auto;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.chat-bot-ctr-ops button:hover {
    background-color: #005a4f;
}

.final-message p:first-child{
    text-align: center;
    color: #333;
    font-size: 0.8rem;
    font-weight: 600;
}
.final-message p:nth-child(2){
    text-align: center;
    color: blue;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}
.final-message p:nth-child(2):hover{
    text-decoration: underline;
}