.main-text {
    color: #0d93e7;
    font-size: 26px;
    font-weight: bold;
}

.small-text {
    color: #0d93e7;
    font-size: 14px;
    font-weight: bold;
}

.text-link {
    color: #0d93e7;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.text-link:hover {
    color: #0d7dc4;
    font-size: 14px;
    font-weight: bold;
}

.text-link:active {
    color: #0d7dc4;
    font-size: 14px;
    font-weight: bold;
}


.main-layout-container {
    display: flex;
    flex-direction: column;
    padding: 80px 50px 30px 50px;
    min-height: 100vh;
    background-color: #f3f4f6;
}
